.container-banner{
    display:flex;
    justify-content: center;
    padding: 4em;
}
.invitation{
    display:flex;
    flex-direction: column;
    padding: 0 2em 0 2em;
}
.hero-text{
    font-family: Fjalla One;
    font-style: normal linear-gradient(100.07deg, #4F6DB3 6.04%, #CA82E0 107.56%);;
    font-weight: normal;
    font-size: 47px;
    line-height: 59px;
    letter-spacing: -0.005em;
        
}

.suscribe-now{
    width: 378px;
height: 51px;
left: 0px;
top: 0px;

/* Gradient02 */
background: linear-gradient(104.3deg, #CA82E0 -5.38%, #5CC4EA 105.65%);
}

.discount{
    text-decoration:line-through;
}