body{
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Poppins', sans-serif;
    background-image: url("bgplanes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor-ppal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin: 0.3em 0;
    display: flex;
    justify-content: center;
}
h3{
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 28px;
    color: #4F5561;
}
h4{
    font-family: 'Poppins', sans-serif;
    margin: 8px 0 0 0;
    color: #CA82E0;
}
p{
    font-family: 'Poppins', sans-serif;
    color: #4F5561;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
i{ 
    color: #8D9CBE;
    font-size: smaller;
}
.logo{
    margin: 72px 0 0 15%;
}
.beneficios{
    color: #4F5561;
    font-size: 14px;
} 

ul{
    margin: 16px 0 16px 0 ;
    padding: 0 0 0 30px;
}

/* Boton */

.suscribete {
    width: 240px;
    height: 44px;
    margin: 16px 0;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1875em;
    background: linear-gradient(110deg, #CA82E0 6%, #5CC4EA 105%);
    border-style: none;
    transition-duration: 500ms;
}

.suscribete:hover{
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
    cursor: pointer;
    transform: translate(0px, -4px);
}

.suscribete-g {
    width: 240px;
    height: 44px;
    margin: 16px 0;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1875em;
    background: #353535;
    border-style: none;
    transition-duration: 500ms;
}

.suscribete-g:hover{
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
    cursor: pointer;
    transform: translate(0px, -4px);
}


/* Seccion Principal */
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    max-width: 962px;
    margin-left: auto;
    margin-right: auto;
}

/* Noticias carrousel*/


.container-carrousel img {
    width: 197px;
}


.title_carrousel {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    height: 30px;
    margin: 0.5em 0;
    padding-bottom: 0.5em;
    -webkit-text-fill-color: white;
}
.notas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.titulo-paquete {
    margin: -65px 0 50px 50px ;
    color: white;
}

.nota-carrousel{
    background-color: white;
    padding: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #4F5561;
    margin-right: 16px;
    border-top: 64px solid #4F5561;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
}

.nota-carrousel-favorito{
    background-color: white;
    padding: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #5CC4EA;
    margin-right: 16px;
    border-top: 64px solid #5CC4EA;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
}

.nota-carrousel-ultimo{
    background-color: white;
    padding: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #4F5561;
    border-top: 64px solid #4F5561;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
}

.nota-carrousel-favorito img {
    width: 100%;
}

.nota-carrousel-ultimo img {
    width: 100%;
}
.nota-carrousel img {
    width: 100%;
}

button {
    width: 200px;
    height: 34px;
    border-style: none;
    background-color: #4F5561;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1em;
    color: white;
    margin: 16px 30px;    
}

.boton-favorito {
    width: 200px;
    height: 34px;
    border-style: none;
    background-color: #5CC4EA;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1em;
    color: white;
    margin: 16px 30px;  
}

/* Footer */
footer{
    background: #4F6DB3;
    color: white;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 16px;
}
footer p{
    color: white;
}
footer a{
    font-size: 12px;
}
.footer-btn{
    color: white;
    border-right: 1px solid white;
    padding: 0 8px;
}
.footer-btnend{
    color: white;
    padding: 0 8px;    
}

/*section*/
.story-section{
    grid-auto-rows: max-content;
}