body{
    margin: 0;
    padding: 0;
    background: #F4F2F2;
    color: #4F5561;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 110px;
    background: white;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
}
h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 4.75em;
}
h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.875em;
    margin: 0;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #4F5561;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.375em;
    margin: 0;
}
h4{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.6875em;
    margin: 0;
}
h5{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1875em;
    margin: 0;
    color: #8E4E99;
    letter-spacing: 1.5px;
}
h6{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1em;
    margin: 0;
}
p{
    font-family: 'Poppins', sans-serif;
    color: #4F5561;
    font-size: 0.9375em;
}
ul{
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Nav Bar */
header{
    position: fixed;
    top: 0;
    z-index: 1;
}
.upper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-bottom: 1px solid #d5d5d5;
}
.logo{
    margin-left: 45%;
    margin-right: auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.user-btns ul li{
    display: flex;
    flex-direction: row;
}
.user-btns ul li a{
    background: #4F5561;
    color: white;
    height: 64px;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
}
.user-btns ul li a:hover{
    background: #CA82E0;
}
.user-btns ul li a img{
    width: 20px;
    height: auto;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4F5561;
    border-right: 1px solid #d5d5d5;
    height: 44px;
    padding: 0 20px;
    margin: 0;
    transition-duration: 500ms;
}
.nav-btn:hover{
    background: #4F5561;
    color: white;
}
.nav-btnend{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4F5561;
    height: 44px;
    padding: 0 20px;
    margin: 0;
    transition-duration: 500ms;
}
.nav-btnend:hover{
    background: #4F5561;
    color: white;    
}
/* Seccion Principal */
.anuncio-ppal{
    width: 728px;
    height: 90px;
    margin: 130px auto 20px auto;
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    max-width: 962px;
    margin-left: auto;
    margin-right: auto;
}
/* Noticia Destacada */
.destacado{
    background: white;
    grid-column: 1 / 10;
    padding: 16px;
    border-style: solid;
    border-width: 4px;
    border-image: linear-gradient(180deg, #CA82E0, white, #5CC4EA) 1;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
    transition-duration: 500ms;
}
.destacado h2{
    background: linear-gradient(to right, #4F6DB3 0%, #CA82E0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-bottom: 16px;
}
.destacado:hover{
    border-image: linear-gradient(180deg, #5CC4EA, white, #CA82E0) 1;
}
.img-destacada{
    height: 412px;
    background-image: url("titular-predicciones.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-noticia{
    background: linear-gradient(100deg, #4F6DB3 6%, #CA82E0 105%);
    color: fff;
    padding: 8px 16px;
    border: none;
}
.titulo-nota{
    padding: 16px;
    color: fff;
}
.info-redactor{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.info-redactor p{
    margin: 0;
    padding: 0;
}
.info-coments{
    margin-right: 16px;
}
.info-name{
    margin-right: auto;
}
.info-date{
    color: #4F6DB3;
}
/* Tendencias */
.tendencias{
    background: white;
    grid-column: 10 / 13;
    display: flex;
    flex-direction: column;
    padding: 16px;
}
/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: #4F5561;
    font-size: 16px;
    padding: 12px 16px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #CA82E0;
    transition-duration: 500ms;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CA82E0;
    min-width: 160px;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
    z-index: 1;
    width: 100%;
 }
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover {
    background: white;
    color: #CA82E0;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #CA82E0;
    color: white;
}

/* Noticias derecha */
.noti-img{
    width: 100%;
    height: auto;
    padding: 16px 0 8px 0;
}
.noti-bar p{
    margin: 0;
}
.square-ad{
    padding-top: 16px;
}

/* Segunda Seccion */
.eight-col{
    background: white;
    grid-column: 1 / 9;
    padding: 16px;
    display: flex;
    flex-direction: row;
}
.img-izq{
    margin-right: 16px;
}
.cards{
    grid-column: 9 / 13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cards p{
    margin: 0;
}
.mini-card{
    display: flex;
    flex-direction: row;
    background: white;
    padding: 16px;
}
.cards img{
    margin-right: 16px;
}

/* Tercera Seccion*/

.sponsor {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sponsor img{
    width: 100%;
    padding-bottom: 16px;
}
.desarrollo-personal{
    background: white;
    border-top: 4px solid;
    border-image: linear-gradient(90deg, #CA82E0, #5CC4EA) 1;
    padding: 16px;
}
.desarrollo-personal img{
    margin: 0 0 16px 0;
    padding: 0;
}
.entretenimiento{
    background: white;
    grid-column: 5 / 9;
    padding: 1em;
    display: flex;
    flex-direction: column;       
}
.img-left{
    margin-bottom: 16px;
}
.most-read{
    grid-column: 9 / 13;
    background: white;
    display:flex;
    flex-direction:column;
    padding: 0 16px;
    border-top: 4px solid;
    border-image: linear-gradient(90deg, #CA82E0, #5CC4EA) 1;
}
.most-read h2{
    margin: 16px 0 32px 0;
}
.most-read-card{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}
.most-read-topic{
    margin-left: 16px;
}

/* Noticias carrousel*/
.container-carrousel{
    grid-column: 1 / 13;
    background: linear-gradient(100deg, #4F6DB3 6%, #CA82E0 105%);
    padding: 16px;
}

.container-carrousel-finanzas{
    background: linear-gradient(100deg, #CA82E0 6%, #5CC4EA 105%);
    grid-column: 1 / 13;
    padding: 16px;  
}
/*GRID PARA 8 COLUMNAS*/

.segundo-grid{
    margin:0px;
    width: 60em;
    height: 41em;
    grid-column: 1/12;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 1em;
}
    .sponsor {
        grid-area: 1 / 1 / span 1 / span 1; 
    }

    .entretenimiento{
        background: white;
        padding: 1em;
        height: auto;
        grid-row: 1/ span 2;
        grid-column: 2/ span 1;
        display:flex;
        flex-direction: column;       
    }
        .entretenimiento .img{
            align-self:center;
        }

    .desarrollo-personal{
        background: white;
        grid-area: 2 / 1 / span 1/ span 1;
    }

    .most-read{
        grid-row: 1/ span 2;
        grid-column:  3/ span 1;
        background: white;
        display:flex;
        flex-direction:column;
        padding-left: 28px;
        padding-right: 28px;
        border-top: linear-gradient(100.07deg, #4F6DB3 6.04%, #CA82E0 107.56%);
    }

    .most-read-card{
        margin-top: 1em;
        margin-bottom: 1em;
        display:grid;
        height: 75px;
        grid-template: 10% 1fr /75px 10em ;
        grid-gap: 0.5em;
    }
        .most-read .img{
                width: 75px;
                height: 75px;
                grid-area: 1 / 1/ 2/ 1;
            }
        .most-read-topic{
            grid-area: 1/ 2/ 1/ 2;
        }
        .most-read-title{
            grid-row: 2;
            grid-column:1;
            
        }
    .split-most-read{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #E7E4E4;
    }

    .split-8col{
        width: 80%;
        margin-left: 0;
        margin-right: 0;
        border: 3px linear-gradient(100.07deg, #4F6DB3 6.04%, #CA82E0 107.56%);
    }

.title_carrousel {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    margin: 0.5em 0;
    padding-bottom: 0.5em;
    color: white;
}
.notas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}
.nota-carrousel{
    background-color: white;
    padding: 16px;
    margin-right: 16px;
    border-top: 4px solid #CA82E0;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
}

.nota-carrousel-der{
    background-color: white;
    padding: 16px;
    border-top: 4px solid #CA82E0;
    box-shadow: 0px 0px 16px rgba(79, 109, 179, 0.2);
}
.notas img{
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}



/* Footer */
footer{
    background: #4F6DB3;
    color: white;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 16px;
}
footer p{
    color: white;
}
footer a{
    font-size: 12px;
}
.footer-btn{
    color: white;
    border-right: 1px solid white;
    padding: 0 8px;
}
.footer-btnend{
    color: white;
    padding: 0 8px;    
}

/*section*/
.story-section{
    grid-auto-rows: max-content;
}